csiDriver:
  name: "org.democratic-csi.iscsi"
storageClasses:
- name: truenas-iscsi-csi
  defaultClass: {{ democratic_csi_iscsi_sc_defaultClass }}
  reclaimPolicy: "{{ democratic_csi_iscsi_sc_reclaimPolicy }}"
  volumeBindingMode: "{{ democratic_csi_iscsi_sc_volumeBindingMode }}"
  allowVolumeExpansion: {{ democratic_csi_iscsi_sc_allowVolumeExpansion }}
  parameters:
    fsType: "{{ democratic_csi_iscsi_sc_fsType }}"
    detachedVolumesFromSnapshots: "{{ democratic_csi_iscsi_sc_detachedVolumesFromSnapshots }}"
    detachedVolumesFromVolumes: "{{ democratic_csi_iscsi_sc_detachedVolumesFromVolumes }}"
  mountOptions: {{ democratic_csi_iscsi_sc_mountOptions }}
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:
volumeSnapshotClasses: {{ democratic_csi_iscsi_volumeSnapshotClasses }}
driver:
  config:
    driver: freenas-iscsi
    instance_id:
    httpConnection:
      protocol: "{{ democratic_csi_api_protocol }}"
      host: "{{ democratic_csi_api_host }}"
      port: "{{ democratic_csi_api_port }}"
      apiKey: "{{ democratic_csi_api_key }}"
      allowInsecure: {{ democratic_csi_api_allowInsecure }}
      apiVersion: 2
    sshConnection:
      host: "{{ democratic_csi_ssh_host }}"
      port: "{{ democratic_csi_ssh_port }}"
      username: "{{ democratic_csi_ssh_username }}"
{% if democratic_csi_ssh_password is defined %}
      password: "{{ democratic_csi_ssh_password }}"
{% endif %}
{% if democratic_csi_ssh_privatekey is defined %}
      privateKey: |
        {{ democratic_csi_ssh_privatekey | indent(width=8) }}
{% endif %}
    zfs:
      cli:
        sudoEnabled: {{ democratic_csi_zfs_sudoEnabled }}
        paths:
          zfs: /usr/local/sbin/zfs
          zpool: /usr/local/sbin/zpool
          sudo: /usr/local/bin/sudo
          chroot: /usr/sbin/chroot
      datasetParentName: "{{ democratic_csi_iscsi_zfs_datasetParentName }}"
      detachedSnapshotsDatasetParentName: "{{ democratic_csi_iscsi_zfs_detachedSnapshotsDatasetParentName }}"
      zvolCompression: "{{ democratic_csi_iscsi_zvolCompression }}"
      zvolDedup: "{{ democratic_csi_iscsi_zvolDedup }}"
      zvolEnableReservation: "{{ democratic_csi_iscsi_zvolEnableReservation }}"
      zvolBlocksize: "{{ democratic_csi_iscsi_zvolBlockSize }}"
    iscsi:
      targetPortal: "{{ democratic_csi_iscsi_portal }}"
      targetPortals: {{ democratic_csi_iscsi_portals }}
      interface: {{ democratic_csi_iscsi_interface | default(omit) }}
      namePrefix: "{{ democratic_csi_iscsi_portal_namePrefix }}"
      nameSuffix: "{{ democratic_csi_iscsi_portal_nameSuffix }}"
      targetGroups:
        - targetGroupPortalGroup: "{{ democratic_csi_iscsi_portal_PortalGroup }}"
          targetGroupInitiatorGroup: "{{ democratic_csi_iscsi_portal_PortalGroup }}"
          targetGroupAuthType: "{{ democratic_csi_iscsi_portal_GroupAuthType }}"
          targetGroupAuthGroup: {{ democratic_csi_iscsi_portal_GroupAuthGroup | default(omit) }}
      extentInsecureTpc: {{ democratic_csi_iscsi_extentInsecureTpc }}
      extentXenCompat: {{ democratic_csi_iscsi_extentXenCompat }}
      extentDisablePhysicalBlocksize: true
      extentBlocksize: "{{ democratic_csi_iscsi_extentDisablePhysicalBlocksize }}"
      extentRpm: "{{ democratic_csi_iscsi_extentRpm }}"
      extentAvailThreshold: "{{ democratic_csi_iscsi_extentAvailThreshold }}"
