csiDriver:
  # should be globally unique for a given cluster
  name: "org.democratic-csi.{{ item.driver }}-{{ item.name }}"

storageClasses:
- name: "{{ item.name }}"
  defaultClass: {{ item.sc_defaultClass | default(false) }}
  reclaimPolicy: "{{ item.sc_reclaimPolicy | default(democratic_csi_smb_sc_reclaimPolicy) }}"
  volumeBindingMode: "{{ item.sc_volumeBindingMode | default(democratic_csi_smb_sc_volumeBindingMode) }}"
  allowVolumeExpansion: {{ item.sc_allowVolumeExpansion | default(democratic_csi_smb_sc_allowVolumeExpansion) }}
  parameters:
    fsType: smb

  mountOptions: {{ item.sc_mountOptions | default(democratic_csi_smb_sc_mountOptions) }}
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:
volumeSnapshotClasses: {{ item.volumeSnapshotClasses | default(democratic_csi_smb_volumeSnapshotClasses) }}

driver:
  config:
    driver: "{{ item.driver }}"
    instance_id:
    httpConnection:
      protocol: "{{ item.api_protocol | default(democratic_csi_api_protocol) }}"
      host: "{{ item.api_host | default(democratic_csi_api_host) }}"
      port: "{{ item.api_port | default(democratic_csi_api_port) }}"
      apiKey: "{{ item.api_key | default(democratic_csi_api_key) }}"
      allowInsecure: {{ item.api_allowInsecure | default(democratic_csi_api_allowInsecure) }}
      apiVersion: 2
    sshConnection:
      host: "{{ item.ssh_host | default(democratic_csi_ssh_host) }}"
      port: "{{ item.ssh_port | default(democratic_csi_ssh_port) }}"
      username: "{{ item.ssh_username | default(democratic_csi_ssh_username) }}"
{% if item.ssh_password is defined %}
      password: "{{ item.ssh_password }}"
{% endif %}
{% if item.ssh_privatekey is defined %}
      privateKey: |
        {{ item.ssh_privatekey | indent(width=8) }}
{% endif %}
    zfs:
      cli:
        sudoEnabled: {{ item.zfs_sudoEnabled | default(democratic_csi_zfs_sudoEnabled) }}
        paths:
          zfs: "{{ item.zfs_path_zfs | default(democratic_csi_zfs_path_zfs) }}"
          zpool: "{{ item.zfs_path_zpool | default(democratic_csi_zfs_path_zpool) }}"
          sudo: "{{ item.zfs_path_sudo | default(democratic_csi_zfs_path_sudo) }}"
          chroot: "{{ item.zfs_path_chroot | default(democratic_csi_zfs_path_chroot) }}"

      datasetProperties:
        aclmode: restricted
        casesensitivity: mixed

      datasetParentName: "{{ item.zfs_datasetParentName | default(democratic_csi_smb_zfs_datasetParentName) }}"
      detachedSnapshotsDatasetParentName: "{{ item.zfs_detachedSnapshotsDatasetParentName | default(democratic_csi_smb_zfs_detachedSnapshotsDatasetParentName) }}"
      datasetEnableQuotas: {{ item.zfs_datasetEnableQuotas | default(democratic_csi_smb_zfs_datasetEnableQuotas) }}
      datasetEnableReservation: {{ item.zfs_datasetEnableReservation | default(democratic_csi_smb_zfs_datasetEnableReservation) }}
      datasetPermissionsMode: "{{ item.zfs_datasetPermissionsMode | default(democratic_csi_smb_zfs_datasetPermissionsMode) }}"
      datasetPermissionsUser: "{{ item.zfs_datasetPermissionsUser | default(democratic_csi_smb_zfs_datasetPermissionsUser) }}"
      datasetPermissionsGroup: "{{ item.zfs_datasetPermissionsGroup | default(democratic_csi_smb_zfs_datasetPermissionsGroup) }}"
      datasetPermissionsAcls: {{ item.zfs_datasetPermissionsAcls | default(democratic_csi_smb_zfs_datasetPermissionsAcls) }}

    smb:
      shareHost: "{{ item.smb_host | default(democratic_csi_smb_host) }}"
      nameTemplate: "{{ item.smb_nameTemplate | default(democratic_csi_smb_nameTemplate) }}"
      namePrefix: "{{ item.smb_namePrefix | default(democratic_csi_smb_namePrefix) }}"
      nameSuffix: "{{ item.smb_nameSuffix | default(democratic_csi_smb_nameSuffix) }}"
      
      # if any of the shareFoo parameters do not work with your version of FreeNAS
      # simply comment the param (and use the configuration template if necessary)

      shareAuxiliaryConfigurationTemplate: |
        #guest ok = yes
        #guest only = yes
      shareHome: false
      shareAllowedHosts: {{ item.smb_shareAllowedHosts | default(democratic_csi_smb_shareAllowedHosts) }}
      shareDeniedHosts: {{ item.smb_shareDeniedHosts | default(democratic_csi_smb_shareDeniedHosts) }}
      #shareDefaultPermissions: true
      shareGuestOk: true
      #shareGuestOnly: true
      #shareShowHiddenFiles: true
      shareRecycleBin: true
      shareBrowsable: false
      shareAccessBasedEnumeration: true
      shareTimeMachine: false
      #shareStorageTask:
