csiDriver:
  # should be globally unique for a given cluster
  name: "org.democratic-csi.nfs"

storageClasses:
- name: truenas-nfs-csi
  defaultClass: {{ democratic_csi_nfs_sc_defaultClass }}
  reclaimPolicy: "{{ democratic_csi_nfs_sc_reclaimPolicy }}"
  volumeBindingMode: "{{ democratic_csi_nfs_sc_volumeBindingMode }}"
  allowVolumeExpansion: {{ democratic_csi_nfs_sc_allowVolumeExpansion }}
  parameters:
    fsType: nfs

  mountOptions: {{ democratic_csi_nfs_sc_mountOptions }}
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:

# if your cluster supports snapshots you may enable below
volumeSnapshotClasses: {{ democratic_csi_nfs_volumeSnapshotClasses }}
#- name: freenas-iscsi-csi
#  parameters:
#  # if true, snapshots will be created with zfs send/receive
#  # detachedSnapshots: "false"
#  secrets:
#    snapshotter-secret:

driver:
  config:
    driver: freenas-nfs
    instance_id:
    httpConnection:
      protocol: "{{ democratic_csi_api_protocol }}"
      host: "{{ democratic_csi_api_host }}"
      port: "{{ democratic_csi_api_port }}"
      apiKey: "{{ democratic_csi_api_key }}"
      allowInsecure: {{ democratic_csi_api_allowInsecure }}
      apiVersion: 2
    sshConnection:
      host: "{{ democratic_csi_ssh_host }}"
      port: "{{ democratic_csi_ssh_port }}"
      username: "{{ democratic_csi_ssh_username }}"
{% if democratic_csi_ssh_password is defined %}
      password: "{{ democratic_csi_ssh_password }}"
{% endif %}
{% if democratic_csi_ssh_privatekey is defined %}
      privateKey: |
        {{ democratic_csi_ssh_privatekey | indent(width=8) }}
{% endif %}
    zfs:
      cli:
        sudoEnabled: {{ democratic_csi_zfs_sudoEnabled }}
        paths:
          zfs: /usr/local/sbin/zfs
          zpool: /usr/local/sbin/zpool
          sudo: /usr/local/bin/sudo
          chroot: /usr/sbin/chroot
      # total volume name (zvol/<datasetParentName>/<pvc name>) length cannot exceed 63 chars
      # https://www.ixsystems.com/documentation/freenas/11.2-U5/storage.html#zfs-zvol-config-opts-tab
      # standard volume naming overhead is 46 chars
      # datasetParentName should therefore be 17 chars or less
      datasetParentName: "{{ democratic_csi_nfs_zfs_datasetParentName }}"
      detachedSnapshotsDatasetParentName: "{{ democratic_csi_nfs_zfs_detachedSnapshotsDatasetParentName }}"
      datasetEnableQuotas: {{ democratic_csi_nfs_zfs_datasetEnableQuotas }}
      datasetEnableReservation: {{ democratic_csi_nfs_zfs_datasetEnableReservation }}
      datasetPermissionsMode: "{{ democratic_csi_nfs_zfs_datasetPermissionsMode }}"
      datasetPermissionsUser: "{{ democratic_csi_nfs_zfs_datasetPermissionsUser }}"
      datasetPermissionsGroup: "{{ democratic_csi_nfs_zfs_datasetPermissionsGroup }}"
    nfs:
      shareHost: "{{ democratic_csi_nfs_host }}"
      shareAlldirs: {{ democratic_csi_nfs_shareAlldirs}}
      shareAllowedHosts: {{ democratic_csi_nfs_shareAllowedHosts }}
      shareAllowedNetworks: {{ democratic_csi_nfs_shareAllowedNetworks }}
      shareMaprootUser: "{{ democratic_csi_nfs_shareMaprootUser }}"
      shareMaprootGroup: "{{ democratic_csi_nfs_shareMaprootGroup }}"
      shareMapallUser: "{{ democratic_csi_nfs_shareMapallUser }}"
      shareMapallGroup: "{{ democratic_csi_nfs_shareMapallGroup }}"
