csiDriver:
  # should be globally unique for a given cluster
  name: "org.democratic-csi.{{ item.driver }}-{{ item.name }}"

storageClasses:
- name: "{{ item.name }}"
  defaultClass: {{ item.sc_defaultClass | default(false) }}
  reclaimPolicy: "{{ item.sc_reclaim_policy | default(democratic_csi_sc_reclaim_policy) }}"
  volumeBindingMode: "{{ item.sc_volume_binding_mode | default(democratic_csi_sc_volume_binding_mode) }}"
  allowVolumeExpansion: {{ item.sc_allow_volume_expansion | default(democratic_csi_sc_allow_volume_expansion) }}
  parameters:
    fsType: smb

  mountOptions: {{ item.sc_mount_options | default(democratic_csi_smb_sc_mount_options) }}
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:
volumeSnapshotClasses: {{ item.volume_snapshot_classes | default(democratic_csi_smb_volume_snapshot_classes) }}

driver:
  config:
    driver: "{{ item.driver }}"
    instance_id:
    httpConnection:
      protocol: "{{ item.api_protocol | default(democratic_csi_api_protocol) }}"
      host: "{{ item.api_host | default(democratic_csi_api_host) }}"
      port: "{{ item.api_port | default(democratic_csi_api_port) }}"
      apiKey: "{{ item.api_key | default(democratic_csi_api_key) }}"
      allowInsecure: {{ item.api_allow_insecure | default(democratic_csi_api_allow_insecure) }}
      apiVersion: 2
    sshConnection:
      host: "{{ item.ssh_host | default(democratic_csi_ssh_host) }}"
      port: "{{ item.ssh_port | default(democratic_csi_ssh_port) }}"
      username: "{{ item.ssh_username | default(democratic_csi_ssh_username) }}"
{% if item.ssh_password is defined %}
      password: "{{ item.ssh_password }}"
{% endif %}
{% if item.ssh_privatekey is defined %}
      privateKey: |
        {{ item.ssh_privatekey | indent(width=8) }}
{% endif %}
    zfs:
      cli:
        sudoEnabled: {{ item.zfs_sudo_enabled | default(democratic_csi_zfs_sudo_enabled) }}
        paths:
          zfs: "{{ item.zfs_path_zfs | default(democratic_csi_zfs_path_zfs) }}"
          zpool: "{{ item.zfs_path_zpool | default(democratic_csi_zfs_path_zpool) }}"
          sudo: "{{ item.zfs_path_sudo | default(democratic_csi_zfs_path_sudo) }}"
          chroot: "{{ item.zfs_path_chroot | default(democratic_csi_zfs_path_chroot) }}"

      datasetProperties:
        aclmode: restricted
        casesensitivity: mixed

      datasetParentName: "{{ item.zfs_dataset_parent_name | default(democratic_csi_zfs_dataset_parent_name) }}"
      detachedSnapshotsDatasetParentName: "{{ item.zfs_detached_snapshots_dataset_parent_name | default(democratic_csi_zfs_detached_snapshots_dataset_parent_name) }}"
      datasetEnableQuotas: {{ item.zfs_dataset_enable_quotas | default(democratic_csi_zfs_dataset_enable_quotas) }}
      datasetEnableReservation: {{ item.zfs_dataset_enable_reservation | default(democratic_csi_zfs_dataset_enable_reservation) }}
      datasetPermissionsMode: "{{ item.zfs_dataset_permissions_mode | default(democratic_csi_smb_zfs_dataset_permissions_mode) }}"
      datasetPermissionsUser: "{{ item.zfs_dataset_permissions_user | default(democratic_csi_smb_zfs_dataset_permissions_user) }}"
      datasetPermissionsGroup: "{{ item.zfs_dataset_permissions_group | default(democratic_csi_smb_zfs_dataset_permissions_group) }}"
      datasetPermissionsAcls: {{ item.zfs_dataset_permissions_acls | default(democratic_csi_smb_zfs_dataset_permissions_acls) }}

    smb:
      shareHost: "{{ item.smb_host | default(democratic_csi_smb_host) }}"
      nameTemplate: "{{ item.smb_name_template | default(democratic_csi_smb_name_template) }}"
      namePrefix: "{{ item.smb_name_prefix | default(democratic_csi_smb_name_prefix) }}"
      nameSuffix: "{{ item.smb_name_suffix | default(democratic_csi_smb_name_suffix) }}"
      
      # if any of the shareFoo parameters do not work with your version of FreeNAS
      # simply comment the param (and use the configuration template if necessary)

      shareAuxiliaryConfigurationTemplate: |
        #guest ok = yes
        #guest only = yes
      shareHome: false
      shareAllowedHosts: {{ item.smb_share_allowed_hosts | default(democratic_csi_smb_share_allowed_hosts) }}
      shareDeniedHosts: {{ item.smb_share_denied_hosts | default(democratic_csi_smb_share_denied_hosts) }}
      #shareDefaultPermissions: true
      shareGuestOk: true
      #shareGuestOnly: true
      #shareShowHiddenFiles: true
      shareRecycleBin: true
      shareBrowsable: false
      shareAccessBasedEnumeration: true
      shareTimeMachine: false
      #shareStorageTask:
