csiDriver:
  name: "org.democratic-csi.{{ item.driver }}-{{ item.name }}"
storageClasses:
- name: "{{ item.name }}"
  defaultClass: {{ item.sc_defaultClass | default(false) }}
  reclaimPolicy: "{{ item.sc_reclaim_policy | default(democratic_csi_sc_reclaim_policy) }}"
  volumeBindingMode: "{{ item.sc_volume_binding_mode | default(democratic_csi_sc_volume_binding_mode) }}"
  allowVolumeExpansion: {{ item.sc_allow_volume_expansion | default(democratic_csi_sc_allow_volume_expansion) }}
  parameters:
    fsType: "{{ item.sc_fsType | default(democratic_csi_iscsi_sc_fsType) }}"
    detachedVolumesFromSnapshots: "{{ item.sc_detachedVolumesFromSnapshots | default(democratic_csi_iscsi_sc_detachedVolumesFromSnapshots) }}"
    detachedVolumesFromVolumes: "{{ item.sc_detachedVolumesFromVolumes | default(democratic_csi_iscsi_sc_detachedVolumesFromVolumes) }}"
  mountOptions: {{ item.sc_mount_options | default(democratic_csi_iscsi_sc_mount_options) }}
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:
volumeSnapshotClasses: {{ item.volume_snapshot_classes | default(democratic_csi_iscsi_volume_snapshot_classes) }}
driver:
  config:
    driver: "{{ item.driver }}"
    instance_id:
    httpConnection:
      protocol: "{{ item.api_protocol | default(democratic_csi_api_protocol) }}"
      host: "{{ item.api_host | default(democratic_csi_api_host) }}"
      port: "{{ item.api_port | default(democratic_csi_api_port) }}"
      apiKey: "{{ item.api_key | default(democratic_csi_api_key) }}"
      allowInsecure: {{ item.api_allow_insecure | default(democratic_csi_api_allow_insecure) }}
      apiVersion: 2
    sshConnection:
      host: "{{ item.ssh_host | default(democratic_csi_ssh_host) }}"
      port: "{{ item.ssh_port | default(democratic_csi_ssh_port) }}"
      username: "{{ item.ssh_username | default(democratic_csi_ssh_username) }}"
{% if item.ssh_password is defined %}
      password: "{{ item.ssh_password }}"
{% endif %}
{% if item.ssh_privatekey is defined %}
      privateKey: |
        {{ item.ssh_privatekey | indent(width=8) }}
{% endif %}
    zfs:
      cli:
        sudoEnabled: {{ item.zfs_sudo_enabled | default(democratic_csi_zfs_sudo_enabled) }}
        paths:
          zfs: "{{ item.zfs_path_zfs | default(democratic_csi_zfs_path_zfs) }}"
          zpool: "{{ item.zfs_path_zpool | default(democratic_csi_zfs_path_zpool) }}"
          sudo: "{{ item.zfs_path_sudo | default(democratic_csi_zfs_path_sudo) }}"
          chroot: "{{ item.zfs_path_chroot | default(democratic_csi_zfs_path_chroot) }}"
      datasetParentName: "{{ item.zfs_dataset_parent_name | default(democratic_csi_zfs_dataset_parent_name) }}"
      detachedSnapshotsDatasetParentName: "{{ item.zfs_detached_snapshots_dataset_parentName | default(democratic_csi_zfs_detached_snapshots_dataset_parentName) }}"
      zvolCompression: "{{ item.zvolCompression | default(democratic_csi_iscsi_zvolCompression) }}"
      zvolDedup: "{{ item.zvolDedup | default(democratic_csi_iscsi_zvolDedup) }}"
      zvolEnableReservation: "{{ item.zvolEnableReservation | default(democratic_csi_zfs_dataset_enable_reservation) }}"
      zvolBlocksize: "{{ item.zvolBlockSize | default(democratic_csi_iscsi_zvolBlockSize) }}"
    iscsi:
      targetPortal: "{{ item.portal | default(democratic_csi_iscsi_portal) }}"
      targetPortals: {{ item.portals | default(democratic_csi_iscsi_portals) }}
      interface: {{ item.interface | default(democratic_csi_iscsi_interface) }}
      namePrefix: "{{ item.portal_name_prefix | default(democratic_csi_iscsi_portal_name_prefix) }}"
      nameSuffix: "{{ item.portal_name_suffix | default(democratic_csi_iscsi_portal_name_suffix) }}"
      targetGroups:
        - targetGroupPortalGroup: "{{ item.portalGroup | default(democratic_csi_iscsi_portal_PortalGroup) }}"
          targetGroupInitiatorGroup: "{{ item.initiatorGroup | default(democratic_csi_iscsi_portal_InitiatorGroup) }}"
          targetGroupAuthType: "{{ item.groupAuthType | default(democratic_csi_iscsi_portal_GroupAuthType) }}"
          targetGroupAuthGroup: {{ item.groupAuthGroup | default(democratic_csi_iscsi_portal_GroupAuthGroup) }}
      extentInsecureTpc: {{ item.extentInsecureTpc | default(democratic_csi_iscsi_extentInsecureTpc) }}
      extentXenCompat: {{ item.extentXenCompat | default(democratic_csi_iscsi_extentXenCompat) }}
      extentDisablePhysicalBlocksize: true
      extentBlocksize: "{{ item.extentDisablePhysicalBlocksize | default(democratic_csi_iscsi_extentDisablePhysicalBlocksize) }}"
      extentRpm: "{{ item.extentRpm | default(democratic_csi_iscsi_extentRpm) }}"
      extentAvailThreshold: "{{ item.extentAvailThreshold | default(democratic_csi_iscsi_extentAvailThreshold) }}"
