csiDriver:
  # should be globally unique for a given cluster
  name: "org.democratic-csi.{{ item.driver }}-{{ item.name }}"

storageClasses:
- name: "{{ item.name }}"
  defaultClass: {{ item.sc_defaultClass | default(false) }}
  reclaimPolicy: "{{ item.sc_reclaim_policy | default(democratic_csi_sc_reclaim_policy) }}"
  volumeBindingMode: "{{ item.sc_volume_binding_mode | default(democratic_csi_sc_volume_binding_mode) }}"
  allowVolumeExpansion: {{ item.sc_allow_volume_expansion | default(democratic_csi_sc_allow_volume_expansion) }}
  parameters:
    fsType: nfs

  mountOptions: {{ item.sc_mount_options | default(democratic_csi_nfs_sc_mount_options) }}
  secrets:
    provisioner-secret:
    controller-publish-secret:
    node-stage-secret:
    node-publish-secret:
    controller-expand-secret:

# if your cluster supports snapshots you may enable below
volumeSnapshotClasses: {{ item.volume_snapshot_classes | default(democratic_csi_nfs_volume_snapshot_classes) }}
#- name: freenas-iscsi-csi
#  parameters:
#  # if true, snapshots will be created with zfs send/receive
#  # detachedSnapshots: "false"
#  secrets:
#    snapshotter-secret:

driver:
  config:
    driver: "{{ item.driver }}"
    instance_id:
    httpConnection:
      protocol: "{{ item.api_protocol | default(democratic_csi_api_protocol) }}"
      host: "{{ item.api_host | default(democratic_csi_api_host) }}"
      port: "{{ item.api_port | default(democratic_csi_api_port) }}"
      apiKey: "{{ item.api_key | default(democratic_csi_api_key) }}"
      allowInsecure: {{ item.api_allow_insecure | default(democratic_csi_api_allow_insecure) }}
      apiVersion: 2
    sshConnection:
      host: "{{ item.ssh_host | default(democratic_csi_ssh_host) }}"
      port: "{{ item.ssh_port | default(democratic_csi_ssh_port) }}"
      username: "{{ item.ssh_username | default(democratic_csi_ssh_username) }}"
{% if item.ssh_password is defined %}
      password: "{{ item.ssh_password }}"
{% endif %}
{% if item.ssh_privatekey is defined %}
      privateKey: |
        {{ item.ssh_privatekey | indent(width=8) }}
{% endif %}
    zfs:
      cli:
        sudoEnabled: {{ item.zfs_sudo_enabled | default(democratic_csi_zfs_sudo_enabled) }}
        paths:
          zfs: "{{ item.zfs_path_zfs | default(democratic_csi_zfs_path_zfs) }}"
          zpool: "{{ item.zfs_path_zpool | default(democratic_csi_zfs_path_zpool) }}"
          sudo: "{{ item.zfs_path_sudo | default(democratic_csi_zfs_path_sudo) }}"
          chroot: "{{ item.zfs_path_chroot | default(democratic_csi_zfs_path_chroot) }}"
      # total volume name (zvol/<datasetParentName>/<pvc name>) length cannot exceed 63 chars
      # https://www.ixsystems.com/documentation/freenas/11.2-U5/storage.html#zfs-zvol-config-opts-tab
      # standard volume naming overhead is 46 chars
      # datasetParentName should therefore be 17 chars or less
      datasetParentName: "{{ item.zfs_dataset_parent_name | default(democratic_csi_zfs_dataset_parent_name) }}"
      detachedSnapshotsDatasetParentName: "{{ item.zfs_detached_snapshots_dataset_parentName | default(democratic_csi_zfs_detached_snapshots_dataset_parentName) }}"
      datasetEnableQuotas: {{ item.zfs_dataset_enable_quotas | default(democratic_csi_zfs_dataset_enable_quotas) }}
      datasetEnableReservation: {{ item.zfs_dataset_enable_reservation | default(democratic_csi_zfs_dataset_enable_reservation) }}
      datasetPermissionsMode: "{{ item.zfs_dataset_permissions_mode | default(democratic_csi_nfs_zfs_dataset_permissions_mode) }}"
      datasetPermissionsUser: "{{ item.zfs_dataset_permissions_user | default(democratic_csi_nfs_zfs_dataset_permissions_user) }}"
      datasetPermissionsGroup: "{{ item.zfs_dataset_permissions_group | default(democratic_csi_nfs_zfs_dataset_permissions_group) }}"
    nfs:
      shareHost: "{{ item.nfs_host | default(democratic_csi_nfs_host) }}"
      shareAlldirs: {{ item.nfs_shareAlldirs | default(democratic_csi_nfs_share_alldirs) }}
      shareAllowedHosts: {{ item.nfs_share_allowed_hosts | default(democratic_csi_nfs_share_allowed_hosts) }}
      shareAllowedNetworks: {{ item.nfs_share_allowed_networks | default(democratic_csi_nfs_share_allowed_networks) }}
      shareMaprootUser: "{{ item.nfs_share_maproot_user | default(democratic_csi_nfs_share_maproot_user) }}"
      shareMaprootGroup: "{{ item.nfs_share_maproot_group | default(democratic_csi_nfs_share_maproot_group) }}"
      shareMapallUser: "{{ item.nfs_share_mapall_user | default(democratic_csi_nfs_share_mapall_user) }}"
      shareMapallGroup: "{{ item.nfs_share_mapall_group | default(democratic_csi_nfs_share_mapall_group) }}"
